@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
@import url("https://fonts.cdnfonts.com/css/futura-pt");
body {
  width: 120rem;
  height: 79.0625rem;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  background: var(--main-navy-blue-110-a-1-d, #110a1d);
}

header {
  display: flex;
  width: 102.5rem;
  padding: 1.5rem 3rem;
  margin: 1rem 0 0 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 4rem;
  border: 4px solid var(--main-blue-478-bf-9, #478bf9);
  background: var(--main-navy-blue-110-a-1-d, #110a1d);
  z-index: 50;
}
header .logo {
  width: 17.9375rem;
  height: 2rem;
  flex-shrink: 0;
}
header .menu {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
header .menu button {
  color: var(--main-clean-white-ffffff, #fff);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  cursor: pointer;
  border: none;
  background: none;
}
header .btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.875rem;
}
header .btns .header-btn {
  display: flex;
  padding: 0.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1.5rem;
  border: 2px solid var(--additional-purple-9-dadf-2, #9dadf2);
  background: var(--main-navy-blue-110-a-1-d, #110a1d);
  color: var(--main-clean-white-ffffff, #fff);
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  height: 3rem;
}
header .btns .lang p {
  display: flex;
  align-items: center;
}
header .btns .lang p::before {
  padding: 0 0.5rem 0 0;
  content: "";
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background-size: contain;
  background: no-repeat;
  background-image: url("/image/btns/header/Icon - Planet.svg");
}
header .btns .signUp {
  background: var(--main-blue-478-bf-9, #478bf9);
  border: none;
}

.mask {
  width: 120rem;
  height: 65.5rem;
  flex-shrink: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 63.64%, rgb(17, 9, 29) 95.45%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  z-index: 30;
}

.banner {
  width: 120rem;
  height: 60rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
}
.banner .dotLight-left {
  width: 14.15363rem;
  height: 81.40431rem;
  transform: rotate(-54.311deg);
  flex-shrink: 0;
  background: linear-gradient(180deg, #478bf9 0%, rgba(71, 139, 249, 0.4) 100%);
  opacity: 0.55;
  filter: blur(150px);
  position: fixed;
  z-index: 20;
  top: 0;
  left: 7rem;
}
.banner .dotLight-right {
  width: 35.875rem;
  height: 35.875rem;
  flex-shrink: 0;
  border-radius: 35.875rem;
  opacity: 0.7;
  background: var(--main-blue-hover, linear-gradient(256deg, #478bf9 0%, #9dadf2 100%));
  filter: blur(325px);
  position: fixed;
  z-index: 20;
  bottom: 0;
  right: -9.94rem;
}
.banner .title {
  display: flex;
  width: 41.8125rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  margin-left: 8.75rem;
  z-index: 40;
}
.banner .title h1 {
  align-self: stretch;
  color: var(--main-clean-white-ffffff, #fff);
  font-size: 6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 6rem;
}
.banner .title h1.gambling {
  color: var(--main-blue-478-bf-9, #478bf9);
}
.banner .title h4 {
  align-self: stretch;
  color: var(--transp-white-white-60, rgba(255, 255, 255, 0.6));
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
}
.banner .title .title-btn {
  display: flex;
  padding: 1.25rem 4.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background: var(--main-blue-478-bf-9, #478bf9);
}
.banner .title .title-btn p {
  color: var(--main-clean-white-ffffff, #fff);
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  text-transform: uppercase;
}
.banner .bannerBG {
  width: 20.86238rem;
  height: 83.38875rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  z-index: 20;
}
.banner .blog {
  display: flex;
  width: 33.1875rem;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  z-index: 40;
}
.banner .blog h3 {
  color: var(--main-clean-white-ffffff, #fff);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.5rem;
}
.banner .blog .blog-area {
  height: 37.1875rem;
  align-self: stretch;
  border-radius: 6.25rem;
  border: 3px solid var(--main-blue-478-bf-9, #478bf9);
  background: var(--transp-white-white-12, rgba(255, 255, 255, 0.12));
  backdrop-filter: blur(10px);
  overflow: hidden;
  overflow-y: scroll;
}
.banner .blog .blog-area .blog {
  display: flex;
  width: 29.1875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin: 1.5rem 2.5rem 1.5rem 1.5rem;
}
.banner .blog .blog-area .blog .card {
  display: flex;
  padding: 1rem 4rem;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 12.25rem;
  background: var(--main-deep-blue-1-e-1231, #1e1231);
}
.banner .blog .blog-area .blog .card:hover {
  border-radius: 12.25rem;
  background: var(--main-blue-478-bf-9, #478bf9);
  transition: 0.3s;
}
.banner .blog .blog-area .blog .card .text-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.875rem;
  align-self: stretch;
}
.banner .blog .blog-area .blog .card .text-area .blog-text {
  align-self: stretch;
  color: var(--main-clean-white-ffffff, #fff);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}
.banner .blog .blog-area .blog .card .text-area .date {
  color: var(--transp-white-white-60, rgba(255, 255, 255, 0.6));
  font-feature-settings: "liga" off;
  font-family: Futura PT;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 450;
  line-height: 1rem;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-family: Lexend;
}/*# sourceMappingURL=index.css.map */