@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
@import url("https://fonts.cdnfonts.com/css/futura-pt");
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #110a1d;
  overflow-x: hidden;
}
body button {
  cursor: pointer;
}

header {
  display: flex;
  width: 102.5rem;
  padding: 1.5rem 3rem;
  margin: 1rem 0 0 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 4rem;
  border: 4px solid #478bf9;
  background: #110a1d;
  z-index: 50;
}
header .logo {
  width: 17.9375rem;
  height: 2rem;
  flex-shrink: 0;
}
header .menu {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
header .menu button {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  border: none;
  background: none;
}
header .btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.875rem;
}
header .btns .header-btn {
  display: flex;
  padding: 0.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1.5rem;
  border: 2px solid #9dadf2;
  background: #110a1d;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  height: 3rem;
}
header .btns .lang p {
  display: flex;
  align-items: center;
}
header .btns .lang p::before {
  padding: 0 0.5rem 0 0;
  content: "";
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background-size: contain;
  background: no-repeat;
  background-image: url("/image/btns/header/Icon - Planet.svg");
}
header .btns .signUp {
  background: #478bf9;
  border: none;
}

.mask {
  width: 100vw;
  height: 80rem;
  flex-shrink: 0;
  background: linear-gradient(180deg, rgba(17, 9, 29, 0.4) 63.64%, rgb(17, 9, 29) 95.45%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  z-index: 30;
}

.banner {
  width: 116rem;
  height: 77rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10;
}
.banner .title {
  display: flex;
  width: 41.8125rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  z-index: 40;
}
.banner .title h1 {
  align-self: stretch;
  color: #fff;
  font-size: 6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 6rem;
}
.banner .title h1.gambling {
  color: #478bf9;
}
.banner .title h4 {
  align-self: stretch;
  color: rgba(255, 255, 255, 0.6);
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
}
.banner .title .title-btn {
  display: flex;
  padding: 1.25rem 4.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background: #478bf9;
}
.banner .title .title-btn p {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  text-transform: uppercase;
}
.banner .bannerBG {
  width: 25rem;
  height: 83.38875rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.1rem;
  z-index: 20;
}
.banner .bannerBG .line img {
  padding: 0.5rem;
}
.banner .blog {
  display: flex;
  width: 33.1875rem;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  z-index: 40;
}
.banner .blog h3 {
  color: #fff;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.5rem;
}
.banner .blog .blog-area {
  height: 37.1875rem;
  align-self: stretch;
  border-radius: 6.25rem;
  border: 3px solid #478bf9;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  overflow: hidden;
  overflow-y: scroll;
}
.banner .blog .blog-area::-webkit-scrollbar {
  width: 0.5rem;
}
.banner .blog .blog-area::-webkit-scrollbar-track {
  border-radius: 0.625rem;
  background: rgba(255, 255, 255, 0.12);
}
.banner .blog .blog-area::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background: #478bf9;
}
.banner .blog .blog-area .blog {
  display: flex;
  width: 29.1875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin: 1.5rem;
}
.banner .blog .blog-area .blog .card {
  display: flex;
  padding: 1rem 4rem;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 12.25rem;
  background: #1e1231;
}
.banner .blog .blog-area .blog .card:hover {
  border-radius: 12.25rem;
  background: #478bf9;
  transition: 0.3s;
  cursor: pointer;
}
.banner .blog .blog-area .blog .card .text-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.875rem;
  align-self: stretch;
}
.banner .blog .blog-area .blog .card .text-area .blog-text {
  align-self: stretch;
  color: #fff;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}
.banner .blog .blog-area .blog .card .text-area .date {
  color: rgba(255, 255, 255, 0.6);
  font-feature-settings: "liga" off;
  font-family: Futura PT;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 450;
  line-height: 1rem;
}

footer {
  display: flex;
  width: 84vw;
  padding: 2.5rem 8.75rem 1.5rem 8.75rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 2rem;
  border-radius: 4rem 4rem 0rem 0rem;
  border-top: 4px solid #478bf9;
  border-right: 4px solid #478bf9;
  border-left: 4px solid #478bf9;
  background: #1e1231;
  z-index: 50;
}
footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}
footer .footer-wrapper .pages nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
footer .footer-wrapper .pages nav a {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  text-decoration-line: none;
}
footer .footer-wrapper .pages nav a:hover {
  color: #478bf9;
  text-decoration-line: underline;
}
footer .footer-wrapper .social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.875rem;
  z-index: 70;
}
footer .footer-wrapper .social p {
  align-self: stretch;
  color: #fff;
  text-align: right;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}
footer .footer-wrapper .social .social-links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
footer .footer-wrapper .social .social-links button {
  width: 2rem;
  height: 2rem;
  background: url("./../../image/btns/BG/BG.svg");
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-wrapper .social .social-links button:hover {
  background: url("./../../image/btns/BG/BGHover.svg");
}

.dotLight-left {
  width: 14.15363rem;
  height: 81.40431rem;
  transform: rotate(-54.311deg);
  flex-shrink: 0;
  background: linear-gradient(180deg, #478bf9 0%, rgba(71, 139, 249, 0.4) 100%);
  opacity: 0.55;
  filter: blur(150px);
  position: absolute;
  z-index: 30;
  top: 0;
  left: 7rem;
}

.dotLight-right {
  width: 35.875rem;
  height: 35.875rem;
  flex-shrink: 0;
  border-radius: 35.875rem;
  opacity: 0.7;
  background: linear-gradient(256deg, #478bf9 0%, #9dadf2 100%);
  filter: blur(325px);
  position: fixed;
  z-index: 60;
  bottom: -39.4rem;
  right: -10rem;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-family: Lexend;
}/*# sourceMappingURL=index.css.map */