@import './../mixins';

@import './../variables';

header {
	.btns {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 0.875rem;
		.header-btn {
			@include text-style($main-clean-white, 1rem, 400, 1.25rem);
			display: flex;
			padding: 0.875rem;
			justify-content: center;
			align-items: center;
			gap: 0.5rem;
			border-radius: 1.5rem;
			border: 2px solid $additional-purple;
			background: $main-navy-blue;
			text-align: center;
			height: 3rem;
		}
		.lang {
			p {
				display: flex;
				align-items: center;
				&::before {
					@include mix-size(1rem, 1rem);
					content: '';
					padding-right: 0.5rem;
					display: inline-block;
					background-size: contain;
					background: no-repeat;
					background-image: url('./../../image/btns/header/Icon_Planet.svg');
				}
			}
		}
		.signUp {
			background: $main-blue;
			border: none;
		}
	}
}

@include media(max, md) {
	header {
		.btns {
			.header-btn {
				padding: 0.4rem;
				&:not(.lang) {
					display: none;
				}
			}
			.lang {
				p {
					display: none;
				}
				.lang-icon {
					width: 2rem;
					height: 100%;
					background-size: cover;
					background-image: url('./../../image/btns/header/Icon_Planet.svg');
				}
			}
			.burger {
				display: block;
				position: relative;
				width: 3rem;
				height: 1.8rem;
				cursor: pointer;
				&::before,
				&::after {
					content: '';
					background-color: $main-clean-white;
					position: absolute;
					width: 70%;
					height: 2px;
					left: 0;
					transition: 0.2s;
				}
				&::before {
					top: 0;
				}
				&::after {
					bottom: 0;
				}
				span {
					background-color: $main-clean-white;
					position: absolute;
					width: 70%;
					height: 2px;
					left: 0;
					top: 0.84rem;
					transition: 0.2s;
				}
				&.active {
					&::before {
						transform: rotate(45deg);
						top: 13px;
						transition: 0.2s;
					}
					&::after {
						transform: rotate(-45deg);
						bottom: 13px;
						transition: 0.2s;
					}
					span {
						transform: scale(0);
						transition: 0.2s;
					}
				}
			}
		}
	}
}
