@import './../variables';

@import './../mixins';

footer {
	.footer-wrapper {
		.social {
			display: flex;
			flex-direction: column;
			gap: 0.875rem;
			z-index: 70;
			p {
				@include text-style($main-clean-white, 1rem, 400, 1.25rem);
				align-self: stretch;
				text-align: right;
			}
			.social-links {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				button {
					@include mix-size(2rem, 2rem);
					background: url('./../../image/btns/BG/BG.svg');
					display: flex;
					align-items: center;
					justify-content: center;
					&:hover {
						background: url('./../../image/btns/BG/BGHover.svg');
					}
				}
			}
		}
	}
}

@include media(max, lg) {
	footer {
		.footer-wrapper {
			.social {
				p {
					text-align: center;
				}
			}
		}
	}
}
