@import 'variables';

@import 'mixins';

@import './components/title';

@import './components/bannerBG';

@import './components/blog';

.banner {
	@include mix-size(97vw, 114vh);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	z-index: 10;
	overflow-y: hidden;
	.mask {
		@include mix-size(100%, 120%);
		background: linear-gradient(
			180deg,
			rgb(17 9 29 / 40%) 63.64%,
			rgb(17, 9, 29) 95.45%
		);
		position: absolute;
		z-index: 30;
	}
}

@include media(max, lg) {
	.banner {
		@include mix-size(100vw, 150vh);
		overflow: hidden;
		flex-direction: column;
		.mask {
			@include mix-size(100%, 100%);
			bottom: 9%;
		}
	}
}

@include media(max, md) {
	.banner{
		@include mix-size(100vw, 180vh);
		.mask{
			bottom: -10%;
		}
	}
}

@include media(max, xs) {
	.banner{
		@include mix-size(100vw, 130vh);
		justify-content: stretch;
		margin-top: 5rem;
	}
}