@import 'variables';

@import 'mixins';

@import './components/footerPages';

@import './components/social';

footer {
	display: flex;
	width: 98vw;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	gap: 2rem;
	border-radius: 4rem 4rem 0rem 0rem;
	border-top: 4px solid $main-blue;
	border-right: 4px solid $main-blue;
	border-left: 4px solid $main-blue;
	background: $main-deep-blue;
	z-index: 50;
	.footer-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		align-self: stretch;
		flex-wrap: wrap;
		margin: 2.5rem 8.75rem 1.5rem 8.75rem;
	}
}

@include media(max, xl) {
	footer{ 
		.footer-wrapper{
			margin: 1rem;
		}
	}
}