footer {
	display: flex;
	width: 84vw;
	padding: 2.5rem 8.75rem 1.5rem 8.75rem;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	gap: 2rem;
	border-radius: 4rem 4rem 0rem 0rem;
	border-top: 4px solid var(--main-blue-478-bf-9, #478bf9);
	border-right: 4px solid var(--main-blue-478-bf-9, #478bf9);
	border-left: 4px solid var(--main-blue-478-bf-9, #478bf9);
	background: var(--main-deep-blue-1-e-1231, #1e1231);
	z-index: 50;
	.footer-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		align-self: stretch;
		.pages {
			nav {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 2.5rem;
				a {
					color: var(--main-clean-white-ffffff, #fff);
					text-align: center;
					font-size: 1rem;
					font-style: normal;
					font-weight: 400;
					line-height: 1.25rem;
					text-decoration-line: none;
					&:hover {
						color: var(--main-blue-478-bf-9, #478bf9);
						text-decoration-line: underline;
					}
				}
			}
		}
		.social {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			gap: 0.875rem;
			z-index: 70;
			p {
				align-self: stretch;
				color: var(--main-clean-white-ffffff, #fff);
				text-align: right;
				font-size: 1rem;
				font-style: normal;
				font-weight: 400;
				line-height: 1.25rem;
			}
			.social-links {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				button {
					width: 2rem;
					height: 2rem;
					background: url('./../../image/btns/BG/BG.svg');
					display: flex;
					align-items: center;
					justify-content: center;
          &:hover{
            background: url('./../../image/btns/BG/BGHover.svg');
          }
				}
			}
		}
	}
}
