@import 'variables';

@import 'mixins';

@import './components/menu';

@import './components/headerBtns';

header {
	display: flex;
	width: 85vw;
	padding: 1.5rem 3rem;
	margin: 1rem 0 0 0;
	justify-content: space-between;
	align-items: center;
	border-radius: 4rem;
	border: 4px solid $main-blue;
	background: $main-navy-blue;
	z-index: 50;
	.logo {
		width: 20rem;
		flex: 0 1 auto;
		img {
			@include mix-size(100%, 100%);
		}
	}
}

@include media(max, lg) {
	header{
		padding: 0.5rem 3rem;
	}
}

@include media(max, md) {
	header {
		padding: 0.5rem 1rem;
	}
}