@import 'variables';

@import 'mixins';

@import './components/menu';

@import './components/headerBtns';

header {
	display: flex;
	width: 85vw;
	padding: 1.5rem 3rem;
	margin: 1rem 0 0 0;
	justify-content: space-between;
	align-items: center;
	border-radius: 4rem;
	border: 4px solid $main-blue;
	background: $main-navy-blue;
	z-index: 50;
	.logo {
		@include mix-size(18rem, 2rem);
		flex: 0 1 auto;
		.logo_pic {
			@include mix-size(100%, 100%);
			background-image: url('./../../image/logo_horizontal_clear_white.png');
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
	}
}

@include media(max, lg) {
	header{
		padding: 0.5rem 3rem;
	}
}

@include media(max, md) {
	header {
		padding: 0.5rem 1rem;
	}
}

@include media(max, xs) {
	header {
		border: 2px solid $main-blue;
		.logo{
			@include mix-size(6rem, 2rem);
			.logo_pic {
				background-image: url('./../../image/logo_horizontal_clear_white_small.png');
			}
		}
	}
}