@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

@import url('https://fonts.cdnfonts.com/css/futura-pt');

@import 'variables';

@import 'mixins';

@import 'main';

@import 'header';

@import 'banner';

@import 'footer';

@import 'dotLights';

* {
	padding: 0px;
	margin: 0px;
	border: none;
	font-family: Lexend;
}