body {
	display: flex;
	flex-direction: column;
	align-content: space-around;
	justify-content: space-between;
	align-items: center;
	background: var(--main-navy-blue-110-a-1-d, #110a1d);
	overflow-x: hidden;
	button {
		cursor: pointer;
	}
}
