$main-navy-blue: #110a1d;
$main-blue: #478bf9;
$main-clean-white: #fff;
$additional-purple: #9dadf2;
$transp-white-60: rgba(255, 255, 255, 0.6);
$transp-white-12: rgba(255, 255, 255, 0.12);
$main-deep-blue: #1e1231;
$main-blue-hover: linear-gradient(256deg, #478bf9 0%, #9dadf2 100%);
$sizes: ("xs":320px, "md":768px, "xl":1300px);