:root {
  --main-dark: #191D0A;
  --main: #F97247;
  --clean-white: #fff;
  --secondary-color: #311212;
  --additional-color: #EBF29D;
  --accent-color: #F29DA2;
  --transp-white-60: rgba(255, 255, 255, 0.6);
  --transp-white-12: rgba(255, 255, 255, 0.12);
  --liner-gradient: linear-gradient(256deg, #F947BC 0%, #F9477C66 100%);
}